openai==1.20.0
streamlit==1.33.0
python-dotenv==1.0.1
numpy
sounddevice
scipy 
audio-recorder-streamlit 
fpdf
fpdf2
langchain-community
langchain
langchain-openai
llama_index
llama_index_llms_openai
anthropic
jq
faiss-cpu